:root{ /*Paleta de colores o de fuente*/
    --blanco: #ffffff; 
    --oscuro: #212121; 
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3; 

    --fuente-principal: 3.8rem; 
}

/* Globales **/ 

html{
    font-size: 62.5%;
    /**CSS Box model*/ 
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }


body{
    font-size: 16px; /** 1 rem = 10 px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);
}
/** Con las lineas anteriores usarlas en todos los proyectos para que 
se adapte mejor a todos los navegadores y dispositivos*/ 


/* tipografia **/ 
h1{
    font-size: 3.8rem; /* var(--fuente-principal);
    color: var(--primario); */
}

h2{
    font-size: 2.8rem; 
}

h3{
    font-size: 1.8rem; 
}

h1, h2, h3{
    text-align: center;
}


.titulo span {
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    
    /**
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    son lo mismo 

    margin: 0 auto 0 auto;

     */

    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px){
    .boton{
        width: auto;
    }
}

.sombra {
    -webkit-box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.54);
    box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}
/** 

@media (min-width: 480 px){ media querie para telefono 
    
}

@media (min-width: 748 px){ tablet 
    
}

@media (min-width: 1140 px){ laptop o escritorio 
    
}

@media (min-width: 1400 px){ escritorio
    
}
*/
@media (min-width: 768px){
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}



.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/** para que nuestro sitio sea responsive ctrl+shift+p para abrir 
y configurar el media querie*/


.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0,0,0, .7); /** Anterior */
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 


/** para que nuestro sitio sea responsive ctrl+shift+p para abrir 
y configurar el media querie*/

.contenido-hero h2,
.contenido-hero {
    color: var(--blanco);
}


.ubicacion{
    display: flex;
    align-items: flex-end;
}

